<header>
  <nav class="p-3 mb-2 text-white">
    <div class="container-fluid">
      <p class="fs-1 text-center">
        Panel de administracion
      </p>
    </div>
  </nav>
</header>
<main>
  {{#if admin}}               
  <section id="" class="container-sm row text-center mt-5">
    <h2>Agregar Productos</h2>
    <div class="input-group mb-3">
      <form action="/api/products/" method="post">
    <div>
      <label for="title">Nombre del producto:</label>
      <input type="text" id="title" name="title" required>
    </div>
    <div>
      <label for="description">Descripción del producto:</label>
      <input type="text" id="description" name="description" required>
    </div>
    <div>
      <label for="price">Precio del producto:</label>
      <input type="text" id="price" name="price" required>
    </div>
    <div>
      <label for="code">Código del producto:</label>
      <input type="text" id="code" name="code" required>
    </div>
    <div>
      <label for="status">Estado del producto:</label>
      <input type="text" id="status" name="status" required>
    </div>
    <div>
      <label for="stock">Stock del producto:</label>
      <input type="text" id="stock" name="stock" required>
    </div>
    <div>
      <label for="category">Categoría del producto:</label>
      <input type="text" id="category" name="category" required>
    </div>
    <button type="submit">Agregar</button>
      </form>
    </div>
  </section>

  <section id="" class="container-sm row text-center mt-5">
      <h2>Eliminar Producto</h2>
  <form id="deleteForm">
    <label for="productId">ID del producto a eliminar:</label>
    <input type="text" id="productId" name="productId" required>
    <button type="submit">Eliminar</button>
  </form>
  </section>

<section id="" class="container-sm row text-center mt-5">
  <h2>Actualizar Producto</h2>
  <div>
    <label for="productid">ID</label>
    <input type="text" id="productid" />
    <label for="title-up">Titulo:</label>
    <input type="text" id="title-up" />
    <label for="description-up">Descripcion:</label>
    <input type="text" id="description-up" />
    <label for="code-up">Codigo:</label>
    <input type="text" id="code-up" />
    <label for="stock-up">Stock:</label>
    <input type="text" id="stock-up" />
    <label for="price-up">Valor:</label>
    <input type="text" id="price-up" />
    <label for="category-up">Categoria:</label>
    <input type="text" id="category-up" />
    <button onclick="actualizarProducto()">Actualizar Producto</button>
  </div>
</section>
  {{/if}}

  {{#if premium}}               
  <section id="" class="container-sm row text-center mt-5">
    <h2>Agregar Productos</h2>
    <div class="input-group mb-3">
      <form action="/api/products/" method="post">
    <div>
      <label for="title">Nombre del producto:</label>
      <input type="text" id="title" name="title" required>
    </div>
    <div>
      <label for="description">Descripción del producto:</label>
      <input type="text" id="description" name="description" required>
    </div>
    <div>
      <label for="price">Precio del producto:</label>
      <input type="text" id="price" name="price" required>
    </div>
    <div>
      <label for="code">Código del producto:</label>
      <input type="text" id="code" name="code" required>
    </div>
    <div>
      <label for="status">Estado del producto:</label>
      <input type="text" id="status" name="status" required>
    </div>
    <div>
      <label for="stock">Stock del producto:</label>
      <input type="text" id="stock" name="stock" required>
    </div>
    <div>
      <label for="category">Categoría del producto:</label>
      <input type="text" id="category" name="category" required>
    </div>
    <button type="submit">Agregar</button>
      </form>
    </div>
  </section>

  <section id="" class="container-sm row text-center mt-5">
      <h2>Eliminar Producto</h2>
  <form id="deleteForm">
    <label for="productId">ID del producto a eliminar:</label>
    <input type="text" id="productId" name="productId" required>
    <button type="submit">Eliminar</button>
  </form>
  </section>

<section id="" class="container-sm row text-center mt-5">
  <h2>Actualizar Producto</h2>
  <div>
    <label for="productid">ID</label>
    <input type="text" id="productid" />
    <label for="title-up">Titulo:</label>
    <input type="text" id="title-up" />
    <label for="description-up">Descripcion:</label>
    <input type="text" id="description-up" />
    <label for="code-up">Codigo:</label>
    <input type="text" id="code-up" />
    <label for="stock-up">Stock:</label>
    <input type="text" id="stock-up" />
    <label for="price-up">Valor:</label>
    <input type="text" id="price-up" />
    <label for="category-up">Categoria:</label>
    <input type="text" id="category-up" />
    <button onclick="actualizarProducto()">Actualizar Producto</button>
  </div>
</section>
  {{/if}}

  </section>
</main>
<script src="/js/main.js"></script>