<header>
  <nav class="p-3 mb-2 text-white">
    <div class="container-fluid">
      <p class="fs-1 text-center">
        Detalle de carrito
      </p>
    </div>
  </nav>
</header>
<main>
  <section>
    {{#each cart.products}}
       <div class="container-fluid text-center mt-1">
        <div class="row justify-content-md-center">
          <div class="card mt-1" style="width: 18rem;">
            <div class="card-body">
              <h5 class="card-title">{{product.title}}</h5>
              <p class="card-text">Cantidad:
                {{quantity}}
                <br />
                ID:
                {{product._id}}</p>
            </div>
          </div>
        </div>
        {{/each}}
 <div class="row justify-content-md-center mt-3">
  <form action="/api/carts/{{idcart}}/purchase" method="post">
    <button type="submit" class="btn btn-success">Comprar!</button>
  </form>
</div>

        <div class="row justify-content-md-center mt-3">
                          <a class="nav-link active" href="/products"><button
                    class="btn btn-primary"
                  >
                    Regresar
                  </button></a>
    </div>
  </section>
</main>