<section class="container-md text-center mt-5">
  <div class="row justify-content-md-center bg-light">
    <div class="col-8" style="padding: 50px 20px;">
      <h1>Ingresar</h1>
      <div class="justify-conter-center">     
      <form action="/api/users/auth" method="post">
        <div class="row">
          <div class="col-12">
            <input
              type="email"
              class="form-control"
              placeholder="Correo Electronico"
              aria-label="Correo"
              name="email"
            />
          </div>
          <div class="col-12">
            <input
              type="password"
              class="form-control"
              placeholder="Contrase単a"
              aria-label="Contrase単a"
              name="password"
            />
          </div>
          <button type="submit" class="btn btn-primary col-12">Ingresar</button>
          <a
						href='/api/sessions/github'
						type='submit'
						class='btn btn-primary col-12'
						style='background: #333; color: #fff; margin-top: 10px'
					>Ingresar con GitHub</a>

          		<div class='col-12 text-center mt-2'>
			<a href='/register'>多No tenes cuenta? Registrate</a>
      <br>
      <a href='/requestpassword'>多Te olvidaste la password?</a>
		</div>
        </div>
        </div>
      </form>
    </div>
  </div>
</section>