<section class="container-md text-center mt-5">
  <div class="row justify-content-md-center bg-light">
    <div class="col-8" style="padding: 50px 20px;">
      <h1>Cambiar Contrase単a</h1>
      <div class="justify-conter-center">     
      <form action="/api/users/renewpassword" method="post">
        <div class="row">
          <div class="col-12">
            <input
              type="newpassword"
              class="form-control"
              placeholder="Nueva Contrase単a"
              aria-label="Contrase単a"
              name="newpassword"
            />
            <input type="hidden" name="email" value="{{ email }}">
            <input type="hidden" name="token" value="{{ token }}">
          </div>
          <button type="submit" class="btn btn-primary col-12">Modificar Contrase単a!</button>
        </div>
        </div>
      </form>
    </div>
  </div>
</section>